In [20]:
import pandas as pd
import numpy as np

In [21]:
def get_df(): 
    df = pd.DataFrame()
    size = 1000000
    df['age'] = np.random.randint(0, 100, size)
    df['time_in_bed'] = np.random.randint(0, 9, size)
    df['pct_sleeping'] = np.random.randint(size)
    df['favorite_color'] = np.random.choice(['red', 'blue', 'green'], size)
    df['hate_color'] = np.random.choice(['black', 'yello', 'brown'], size)
    return df

In [22]:
def cal(row):
    if row['time_in_bed'] > 5:
        return row['favorite_color']
    else:
        return  row['hate_color']

In [23]:
df = get_df()
df['reward'] = df.apply(cal, axis=1)

## Vectorization

In [33]:
# %%timeit
df = get_df()
df['reward'] = df['hate_color']
df.loc[(df['time_in_bed'] > 5),'reward'] = df['favorite_color']

In [34]:
df

        age  time_in_bed  pct_sleeping favorite_color hate_color reward
0        64            2        714796           blue      black  black
1        67            2        714796            red      yello  yello
2        94            4        714796           blue      brown  brown
3        64            5        714796           blue      yello  yello
4        49            5        714796           blue      yello  yello
...     ...          ...           ...            ...        ...    ...
999995   57            8        714796          green      brown  green
999996   58            3        714796            red      yello  yello
999997   16            5        714796          green      yello  yello
999998   49            1        714796            red      yello  yello
999999   47            8        714796           blue      brown   blue

[1000000 rows x 6 columns]

### Vectorizaiton is much faster